@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-image: url("bg.png");
}
*{
    margin: 0;
    padding: 0;
}
nav{
     font-family: "Ubuntu",sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 89px;
    background-color:black;
    color: white;
}
.brand img{
    width: 91px;
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    min-height: 75vh;
}
nav ul li{
    padding: 0 12px;
}.bottom{
    position: sticky;
    height: 130px;
    background-color: rgb(0, 0, 0);
    bottom: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    flex-direction: column;
}
.icons{
    margin-top: 34px;
    width: 19px;
}

#myProgressbar{
    width: 80vw;
     text-align: center;
}
